
/* Remove the boxshadow around the quantity selector */
.quantity:after {
  pointer-events: none;
  content: '';
  position: absolute;
  top: var(--inputs-border-width);
  right: var(--inputs-border-width);
  bottom: var(--inputs-border-width);
  left: var(--inputs-border-width);
  border: none; /* Remove the border */
  box-shadow: none; /* Remove the box-shadow */
  transition: none; /* Remove transition for box-shadow */
  z-index: 1;
}

.quantity:before {
  background: rgb(var(--color-background));
  pointer-events: none;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--inputs-radius-outset);
  box-shadow: none; /* Remove the shadow */
  z-index: -1;
}
.quantity__input .value{
  font-width: 600px;
}