.rich-text__blocks p{
  color: #241E19 ;
  font-size: 16px;
  line-height:150%;
  font-family: "Geist_Regular" !important;
    font-weight: none !important ;
}

.rich-text__heading.rte.inline-richtext.h1.scroll-trigger.animate--slide-in{
    font-family: "FreightDispProBlack_Regular" !important ;
    font-size: 40px ;
    font-weight: 600 ;
  line-height: 120%;
  }

.rich-text__caption.subtitle.subtitle--medium.scroll-trigger.animate--slide-in{
  font-family: "Geist_SemiBold" !important;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}
