.logo-bar{
  padding-top: 27px;
  padding-bottom: 27px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 20px;
}
.logo-bar__item {
  display: inline-block;
  width: 180px; /* Reduce the width */
  margin: 0 15px; /* Adjust the margins for smaller spacing */
}

.title_logo {
  font-size: 14px; /* Smaller font size for the title */
  text-align: center;
  margin-top: 5px; /* Adjust spacing between image and title */
}

.logo-bar__item {
  max-width: 180px; /* Reduce the maximum width for images */
}
@media screen and (max-width: 990px){
  .logo-bar{
 gap: 0px
  }
}
@media screen and (max-width: 400px){
  .logo-bar{
 display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .logo-bar__item{
    min-width: 120px;
  }
}

