.logo-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
.logo-bar__item {
  display: inline-block;
  max-width: 175px; /* Reduce the width */
  width: 100%
  margin: 0 15px; /* Adjust the margins for smaller spacing */
}

.title_logo {
  font-size: 14px; /* Smaller font size for the title */
  text-align: center;
  margin-top: 5px; /* Adjust spacing between image and title */
}

@media screen and (max-width: 990px){
  .logo-bar{
 gap: 0px
  }
}

