.logo-bar{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 20px;
}
.logo-bar__item {
  display: inline-block;
  width: 80px; /* Reduce the width */
  margin: 0 15px; /* Adjust the margins for smaller spacing */
}

.title_logo {
  font-size: 12px; /* Smaller font size for the title */
  text-align: center;
  margin-top: 5px; /* Adjust spacing between image and title */
}

.logo-bar__item {
  max-width: 60px; /* Reduce the maximum width for images */
  max-height: 60px; /* Limit the height for consistency */
}
